/* #grid_container{
    display: grid;
    max-width:970px;
    
    grid-template-columns: 1fr;
    grid-template-rows: 70px 50px auto;
    
    margin: 0px auto;
    justify-self: center;
    align-self: center;
    grid-gap:10px;
    border:5px solid #f7a402;
    border-radius: 10px;
}

#newFormBtn{
    grid-row:1;
    grid-column: 1;
} */

#grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "newForm newForm Rating Rating" "Details Details Details Details";
}

#Details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "title title list" "image image list" "image image list";
    grid-area: Details;
}

    #image {
        grid-area: image;
    }

    #title {
        grid-area: title;
    }

    #list {
        grid-area: list;
    }

#newForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "head" "name" "imageurl" "submitBtn";
    grid-area: newForm;
}

    #head {
        grid-area: head;
    }

    #name {
        grid-area: name;
    }

    #imageurl {
        grid-area: imageurl;
    }

    #submitBtn {
        grid-area: submitBtn;
    }

#Rating {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rimage rimage ratingval ratingval" ". . . .";
    grid-area: Rating;
}

    #rimage {
        grid-area: rimage;
    }

    #ratingval {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "value value value" "comment comment comment" "rateBtn rateBtn .";
        grid-area: ratingval;
    }

    #value {
        grid-area: value;
    }

    #comment {
        grid-area: comment;
    }

    #rateBtn {
        grid-area: rateBtn;
    }